<footer class="bg-dark"id="#contacts">
  <div class="container py-5">
    <div class="row text-light text-center">
      <div class="col-md">
        <hr class="bg-light">
        <h5>Contact Info</h5>
        <hr class="bg-light">
        <p>555-555-555</p>
        <p>email@gmail.com</p>
        <p>100 street name</p>
        <p>city,state,0000</p>
      </div>
      <div class="col-md">
       <hr class="bg-light">
       <h5>Our Hours</h5>
       <hr class="bg-light">
       <p>Monday 9am-5pm</p>
       <p>Saturday:10am -4pm</p>
       <p>Sunday closed</p>
     </div>
     <div class="col-md">
       <hr class="bg-light">
       <h5>Service Area</h5>
       <hr class="bg-light">
       <p>Toronto</p>
       <p>Scarborough</p>
       <p>Missisagua</p>
       <p>Brampton</p>
     </div>

    </div>
  </div>
 </footer>
